html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */

}
img{
  width:600px;
  display: block;
  margin: 0 auto;
}
body{ 
  background-color: #00ffff;
  margin:0 auto;
  padding:0 20px 20px 20px;
  border:5px solid black;
width:600px;
}
h1{
  font-size:50px;
  text-align:center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
ul,p{
font-size:30px;
}
